<!DOCTYPE html>
<html>
  <head>
    <title>Producthunt</title>
    <%= csrf_meta_tags %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>





    <div class="topheader">
      <div class="logo">

<%# how to do this link %>

          <a href="/">P</a>
      </div>
      <div class="name">
          <h3>Product Hunt<h3/>
      </div>
      <div class="search">
        <span class="fa fa-search"></span>
        <input type="search"  placeholder="Search for a product...">
      </div>
      <div class="login">
        <a href="/users/sign_in"><button type="submit">Log in</button></a>

      </div>
      <div class="plus">
        <a href="index.html">+</a>
      </div>
    </div>


    <div class="nav">
      <div class="">
        <a href="index.html.erb">TECH</a>
      </div>
      <div class="beta">
        <div>
          <a href="index.html.erb">GAMES</a>
        </div>
        <div>
          <p>&beta;</p>
        </div>
      </div>
      <div class="">
        <a href="index.html.erb">COLLECTIONS</a>
      </div>
    </div>

  <header/>

    <%= yield %>


  </body>
</html>
